@tailwind base;
@tailwind components;
@tailwind utilities;

.align-element {
  display: flex;
  justify-content: center; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
  /* Add any other necessary styles */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
